@import "pure-variables.scss";
@import "variables.scss";

#drop-in {
  // height: 100px;
  background-color: $play-cor-fundos-secundaria;
}

.img-listagem-players {
  width: 3rem;
  height: 3rem;
}

.img-player-step {
  width: 5rem;
  height: 5rem;
}

.ss-list-player-content {
  background-color: $play-cor-fundos-secundaria;
}

.ss-player-data-number {
  background-color: $play-cor-primaria;
  border-radius: 0.6rem;
}

.ss-player-data-position {
  background-color: $black;
  border-radius: 0.8rem;
}

.ss-player-name {
  width: 16rem !important;
}

.ss-player-username {
  width: 17rem !important;
}

.temp-player-pic-mod-wrapper {
  height: 9rem;
  width: 9rem;
}

.delete-listed-thing {
  width: 3.5rem;
  height: 3.5rem;

  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}

#botoes-vinculo {
  width: 75%;
}

#jogadores-vinculados {
  max-height: 30rem;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: $play-cor-fundos;
}

#campeonatos-vinculados {
  max-height: 30rem;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: $play-cor-fundos;
}

#uniform-img-wrapper {
  width: 60%;
}

#uniform-submit-wrapper {
  width: 70%;
}

#uniform-label-wrapper {
  width: 100%;
}

#formulario-jogador-temporario {
  width: 100%;
}

// Color
body {
  background-color: $gray-200 !important;
}

// Media Queries
@include media-breakpoint-up(lg) {
  #vinculo-jogador {
    justify-content: flex-start;
  }
}

@include media-breakpoint-only(md) {
  #uniform-wrapper {
    width: 90%;
  }

  .ss-player-info-wrapper {
    margin-bottom: 1rem;
  }

  #submit-formulario-jogador-temporario {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
  }

  #formulario-jogador-temporario {
    width: 50%;
  }
}

@include media-breakpoint-down(md) {
  #vinculo-jogador {
    justify-content: center;
  }
}

@include media-breakpoint-down(sm) {
  .delete-listed-thing {
    width: 3rem;
    height: 3rem;
  }

  #submit-formulario-jogador-temporario {
    width: 100%;
  }

  #botoes-vinculo {
    width: 100%;
  }

  #jogadores-vinculados {
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #campeonatos-vinculados {
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  #uniform-wrapper {
    margin: 0 auto;
    width: 100%;

    justify-content: center;
  }

  .ss-player-name {
    font-size: 1rem !important;
    width: 8rem !important;
  }

  .ss-player-username {
    font-size: 0.8rem !important;
    width: 9rem !important;
  }

  .ss-player-data2 {
    scale: 0.8;
    width: 100%;

    .ss-player-data-number {
      width: 35%;
    }

    .ss-player-data-hr {
      width: 35%;
    }
  }

  .ss-player-info-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .delete-listed-thing {
    width: 5rem !important;
    height: 2rem;
  }

  .add-listed-thing {
    width: 5rem !important;
    height: 2rem;
  }
  
}