@import "pure-variables.scss";
@import "variables.scss";

#drop-in {
  // height: 100px;
  background-color: $play-cor-fundos-secundaria;
}

.img-listagem-players {
  width: 3rem;
  height: 3rem;
}

.img-player-step {
  width: 5rem;
  height: 5rem;
}

.ss-list-player-content {
  background-color: $play-cor-fundos-secundaria;
}

.delete-listed-player {
  width: 3.5rem;
  height: 3.5rem;

  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}

#jogadores-vinculados {
  max-height: 30rem;
  overflow-y: auto;

  background-color: $play-cor-fundos;
}

#campeonatos-vinculados {
  max-height: 30rem;
  overflow-y: auto;
}

#uniform-img-wrapper {
  width: 60%;
}

#uniform-submit-wrapper {
  width: 70%;
}

#uniform-label-wrapper {
  width: 100%;
}

// Color
body {
  background-color: $gray-200 !important;
}

// Media Queries

@include media-breakpoint-only(md) {
  #uniform-wrapper {
    width: 90%;
  }
}

@include media-breakpoint-down(sm) {
  .delete-listed-player {
    width: 3rem;
    height: 3rem;
  }

  #uniform-wrapper {
    margin: 0 auto;
    width: 100%;

    justify-content: center;
  }

  .ss-player-name {
    font-size: 1rem !important;
  }

  .ss-player-username {
    font-size: 0.8rem !important;
  }

  .ss-player-data {
    scale: 0.8;
  }

  .ss-player-info-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .delete-listed-player {
    width: 5rem !important;
    height: 2rem;
  }
}