@import "pure-variables.scss";
@import "variables.scss";

#drop-in {
  // height: 100px;
  background-color: $play-cor-fundos-secundaria;
}

.img-listagem-times {
  max-width: 60px;
  max-height: 60px;
}

// Color
body {
  background-color: $gray-200 !important;
}