@import "pure-variables.scss";
@import "variables.scss";

#drop-in {
  // height: 100px;
  background-color: $play-cor-fundos-secundaria;
}

.img-listagem-players {
  width: 3rem;
  height: 3rem;
}

.img-player-step {
  width: 5rem;
  height: 5rem;
}

.ss-list-player-content {
  background-color: $play-cor-fundos-secundaria;
}

.delete-listed-player {
  width: 3.5rem;
  height: 3.5rem;

  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}

#jogadores-vinculados {
  max-height: 30rem;
  overflow-y: auto;
}

// Color
body {
  background-color: $gray-200 !important;
}