@import "pure-variables.scss";
@import "variables.scss";

#drop-in {
  // height: 100px;
  background-color: $play-cor-fundos-secundaria;
}

.img-listagem-times {
  max-width: 60px;
  max-height: 60px;
}

.chaveamento-btn {
  background-color: $gray-300;
  color: $black;

  width: auto;

  transition: all $transition;

  &:disabled {
    background-color: $gray-200 !important;
    color: $gray-600 !important;
  }

  &:hover {
    background-color: $gray-400;
    box-shadow: 0px 0px 17px 3px rgba(0, 0, 0, 0.1);
  }

  &:active {
    background-color: $gray-500 !important;
  }
}

.ss-player-data-number {
  background-color: $play-cor-primaria;
  border-radius: 0.6rem;
}

.ss-player-data-position {
  background-color: $black;
  border-radius: 0.8rem;
}

.ss-player-name {
  width: 16rem !important;
}

.ss-player-username {
  width: 17rem !important;
}

#times-vinculados {
  max-height: 30rem;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: $play-cor-fundos;
}

.delete-listed-thing {
  width: 3.5rem;
  height: 3.5rem;

  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }

  &:active {
    filter: brightness(0.8);
  }
}

.ss-list-player-content {
  background-color: $play-cor-fundos-secundaria;
}

// Color
body {
  background-color: $gray-200 !important;
}

// media queries
@include media-breakpoint-only(md) {
  .ss-player-info-wrapper {
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-down(lg) {
  .chaveamento-btn {
    width: 60%;
  }
}

@include media-breakpoint-down(sm) {
  .delete-listed-thing {
    width: 3rem;
    height: 3rem;
  }

  .chaveamento-btn {
    width: 100%;
  }

  #double-match-wrapper {
    span {
      font-size: 0.8rem;
    }
  }

  .ss-player-name {
    font-size: 1rem !important;
    width: 8rem !important;
  }

  .ss-player-username {
    font-size: 0.8rem !important;
    width: 9rem !important;
  }

  .ss-player-data2 {
    scale: 0.8;
    width: 100%;

    .ss-player-data-number {
      width: 35%;
    }

    .ss-player-data-hr {
      width: 35%;
    }
  }

  .ss-player-info-wrapper {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .delete-listed-thing {
    width: 5rem !important;
    height: 2rem;
  }

  .add-listed-thing {
    width: 5rem !important;
    height: 2rem;
  }
  
}