@import "variables.scss";

.list__warnings {
    transition: background-color $transition, filter $transition;

    &:hover {
        filter: brightness(1.1);
    }

    &:active {
        filter: brightness(1.2);
    }
}

.mod-img-wrapper {
    height: 12rem;
    width: 12rem;
}