// @import "bootstrap-config.scss";
@import "variables.scss";

body, html {
    overflow-x: hidden !important;
}

.bg-grad {
    background: rgb(216,255,219);
    background: linear-gradient(180deg, rgba(216,255,219,1) 0%, rgba(255,255,255,0) 100%);
    height: 15rem;

    border-radius: $border-radius-2xl $border-radius-2xl 0 0 !important;
}

.team-info {
    top: 6rem;
}

.coach-board {
    background-color: $play-cor-fundos-secundaria;
    border-radius: 1.5rem;

    .coach-badge {
        span {
            border-radius: 0.5rem;
            background-color: $black;
        }
    }
}

.ss-player-data-number {
    background-color: $play-cor-primaria;
    border-radius: 0.6rem;
}

.ss-player-data-position {
    background-color: $black;
    border-radius: 0.8rem;
}

.team-pic-wrapper {
    height: 8rem;
    width: 8rem;
}

.team-name {
    color: $play-cor-texto;
    margin-bottom: -0.4rem;
}

// .team-config-btn {
//     background: $play-cor-fundos;
//     transition: all $transition;

//     a {
//         text-decoration: none;
//         color: $play-cor-texto;
//     }

//     &:hover {
//         background: $play-cor-fundos-secundaria;
//         color: $white;
//     }

//     &:active {
//         background: $play-cor-fundos-secundaria;
//     }
// }

.ss-player-image {
    height: 4rem;
    min-width: 4rem;

    img {
        min-width: 100%;
    }
}

.ss-player-name {
    margin-bottom: -0.3rem;
    width: 16rem !important;
}

.ss-player-username {
    width: 17rem !important;
}

.sports-section {
    margin-top: 20rem;
}

.sports-icon-wrapper {
    width: 100%;
}

.sports-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.uniform-img {
    width: 20rem;
}

@mixin ss-test {
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.ss-test-1 {
    @include ss-test;

    top: 5.5rem;
    right: 11.5rem;

    opacity: 1.7;

    width: 9rem;
    height: 9rem;

    background-image: url(../icons/sports_basketball.svg);

    filter: invert(70%);
    
    transform: rotate(132deg);
}

.ss-test-2 {
    @include ss-test;

    top: -10.5rem;
    right: 0.5rem;

    opacity: 0.5;

    width: 9rem;
    height: 9rem;

    background-image: url(../icons/sports_volleyball.svg);

    filter: invert(70%);
    
    transform: rotate(173deg);
}

.ss-title {
    border-radius: $border-radius-2xl $border-radius-2xl 0 0 !important;
    height: 4rem;
    box-shadow: none;
    background-color: rgb(179 233 148 / 20%) !important;

    h2 {
        color: $play-cor-texto
    }
}

.ss-first-content {
    border-radius: 0 0 $border-radius-2xl $border-radius-2xl !important;
    background: $play-cor-fundos;
    max-height: 23rem;
    overflow-y: auto;
}

.ss-second-content {
    background: $play-cor-fundos;
    border-radius: 0 0 $border-radius-2xl $border-radius-2xl !important;

}

.ss-third-content {
    @extend .ss-first-content;

    height: auto;
    max-height: 30rem;
}

.ss-championship-content {
    width: 10rem;
    height: 10rem;

    background-color: $play-cor-fundos-secundaria;

    cursor: pointer;

    transition: all $transition;

    &:hover {
        box-shadow: 0px 0 20px 0px rgb(0 0 0 / 7%);
        background-color: #c0e2c3;
    }

    &:active {
        background-color: #9ebda1;
    }
}

#uniforme-home, 
#uniforme-away {
    img {
        background: $play-cor-fundos-secundaria;
    }
}


.ss-championship-img-wrapper {
    height: 5rem;
    min-width: 5rem;

    background-color: $white;

    img {
        min-width: 100%;
    }
}

.ss-championship-texts {
    max-width: 100px;
}

// transition: all ease-in-out 0.4s;

.ss-slider {
    div {
        background: $play-cor-fundos-secundaria;
    }
}

.ss-first-content-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-image: url(../icons/sports_soccer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top: -4.5rem;
    right: -5.5rem;
    transform: rotate(45deg);
    opacity: 0.7;
    z-index: -1;
    filter: invert(50%);
}

@include media-breakpoint-only(md) {
    .ss-test-1 {
        top: 23.5rem;
        right: 9.5rem;
    }

    .ss-test-2 {
        top: -5.5rem;
        right: 37.5rem;
    }

    .ss-slider {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .ss-player-name {
        width: 11rem !important;
    }
}

@include media-breakpoint-down(sm) {
    .bg-grad {
        height: 10rem;
    }

    .team-desc {
        font-size: 0.7rem;
    }

    .sports-section {
        margin-top: 27rem;
    }

    .sports-icon-wrapper {
        width: 15%;
    }

    .ss-player-image {
        height: 3rem;
        min-width: 3rem;
    
        img {
            min-width: 100%;
        }
    }

    .ss-player-data {
        width: 11rem !important;
    }

    .ss-player-data-position,
    .ss-player-data-number {
        font-size: 0.75rem;
    }

    .ss-player-name {
        width: 8rem !important;
    }

    .ss-player-username {
        width: 9rem !important;
    }

    .ss-test-1 {
        top: 13.5rem;
        right: 5.5rem;
    }

    .ss-test-2 {
        top: -4.5rem;
        right: 16.5rem;
    }

    .ss-first-content {
        flex-wrap: nowrap;
        overflow-x: auto;
        height: 7.8rem;

        div {
            flex: 0 0 auto;
        }
    }

    .ss-third-content {
        @extend .ss-first-content;

        height: 14rem;
        // overflow-y: hidden;
    }
    
    // .ss-championship-content {
    //     width: 6rem;
    //     height: 6rem;
    // }

    .ss-slider {
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        width: 100vw;
        position: absolute;
        left: 50%;
        right: 50%;
        top: 2rem;
        margin-left: -50vw;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;

        div {
            flex: 0 0 auto;

            &:first-child {
                margin-left: 1.5rem !important;
            }

            &:last-child {
                margin-right: 1.9rem !important;
            }

            box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
        }
    }

    .ss-player-data {
        scale: 0.8;
        margin-left: -1rem !important;
    }

    .ss-slider-2 {
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        width: 100vw;
        position: absolute;
        top: 5.9rem;
        left: 50%;
        right: 50%;
        margin-left: -50vw;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;

        padding: 0 2rem;
    }
}