@import "bootstrap-config.scss";

$offset: 20vw;
$move-initial: calc(-25% + $offset);
$move-final: calc(-50% + $offset);

body {
  color: $white;
  font-family: $font-family-sans-serif;
  margin: 0;
}

// -- Classes Comuns

.z-0 {
  z-index: 0;
}

.z-1 {
  z-index: 1;
}

.ptx-90 {
  padding-top: 90px !important;
}

.vh-91 {
  height: 91vh !important;
}

.topx-14 {
  top: 14px;
}

.topr-2 {
  top: 3.5rem !important;
}

.w-60 {
  width: 60% !important;
}

.w-90 {
  width: 90% !important;
}

.rounded-bottom-0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.translate-6 {
  transform: translate(6%, 6%) !important;
}

.glass-effect {
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

// -- Outras Classes

// Conteúdo Principal
#home-pill {
  width: 15%;
  padding: 3px !important;
  background-color: $play-cor-primaria;
}

.home-noise {
  margin: -3rem;
}

.rotate-wrapper {
	text-indent: 20px;
  margin-right: 30%;

  span {
    animation: rotate 10s linear infinite;
    transition-timing-function: cubic-bezier(0.2,0.5,0.3,1);
    opacity: 0;
    overflow: hidden;
    position: absolute;
    height: 60%;
    margin: auto;
  }

  span:nth-of-type(2) {
    animation-delay: 2.5s;
  }

  span:nth-of-type(3) {
    animation-delay: 5s;
  }

  span:nth-of-type(4) {
    animation-delay: 7.5s;
  }
}

#gotop {
  position: fixed;
  bottom: 35px;
  right: 25px;
  background-color: $play-cor-efeitos;
  opacity: .8;
  height: 55px;
  width: 55px;

  i {
    font-size: 1.6rem;
    top: 1.6rem;
  }
}

.feat-svg {
  opacity: .6;
  color: $white;
  font-size: 14rem;
  top: 6rem;
  bottom: 0;
  right: .5rem;
}

.noise-svg {
  filter: blur(5px);
  width: 14rem;
  opacity: .6;
}

.n-svg1 {
  @extend .noise-svg;
  top: 20rem;
  bottom: 0;
  right: 1.4rem;
  transform: rotate(-12deg);
}

.n-svg2 {
  @extend .noise-svg;
  top: -2rem;
  bottom: 0;
  left: -4.5rem;
  transform: rotate(12deg);
}

.home-ctasvg {
  opacity: .6;
  color: $white;
  font-size: 2rem;
  top: 4.8rem;
  bottom: 0;
  right: .5rem;
}

.home-grad {
  background: rgb(216,255,219);
  background: linear-gradient(180deg, rgba(216,255,219,1) 0%, rgba(255,255,255,1) 100%); 
}

.feat-wrapper {
  margin-bottom: 25rem !important;
}

.feat-lift {
  top: 4.5rem !important;
}

.feat-lift2 {
  top: 2.5rem !important;
  font-size: 4.5rem !important;
}

.feats {
  background: rgba( 0, 0, 0, 0.7 );
  backdrop-filter: blur( 2px ) !important;
  -webkit-backdrop-filter: blur( 2px ) !important;
  height: 28%;
  font-size: x-large;
}

.blur-home-p {
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 15px;
  border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.feat-home1 {
  border-radius: $border-radius-2xl 15px 15px 15px !important;
}

.feat-home2 {
  border-radius: 15px $border-radius-2xl 15px 15px !important;
}

.feat-home3 {
  border-radius: 15px 15px $border-radius-2xl 15px !important;
}

.feat-home4 {
  border-radius: 15px 15px 15px $border-radius-2xl !important;
}

.card-bg {
  background: $play-cor-fundos;
}

.card-bg2 {
  background: $play-cor-fundos-secundaria;
}

.ft-color {
  color: $play-cor-texto;
}

.ft-color-dim {
  color: $play-cor-texto-dim;
}

.fvar-1 {
  color: $play-cor-efeitos;
}

.fvar-2 {
  color: $play-cor-secundaria;
}

.card-btn-color {
  background: $play-cor-primaria;
  color: $white;
  transition: all $transition;
}

.card-btn-color:hover {
  background: $play-cor-fundos;
  color: $black;
}

div.row {
  gap: 1rem;
}

// Navbar
.pesquisar {
  background-color: $gray-400 !important;
  box-shadow: none !important;
  border-radius: $border-radius-pill;
}

.thead-custom {
  background-color: $play-cor-secundaria; 
  color: $white; 
}

.navbar {
  height: 60px !important;
  transition: all $transition;
  background: transparent;
}

.nav-item {
  a, #lingua {
    transition: all $transition;
  }

  #lingua {
    box-shadow: none;
    border: none;
    cursor: pointer;
    outline: none;

    option {
      cursor: pointer;
    }
  }

  #lingua:active,
  #lingua:focus {
    background-color: $play-cor-fundos-secundaria;
    box-shadow: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
}

.nav-item:hover {
  a, #lingua {
    background-color: $play-cor-fundos-secundaria !important;
    color: $play-cor-texto !important;
  }
}

input[aria-label="Search"],
input[aria-label="Search"]:focus {
  text-align: center;
}

button.navbar-toggler,
button.navbar-toggler:active,
button.navbar-toggler:focus  {
  box-shadow: none;
}

button.navbar-toggler:active,
button.navbar-toggler:hover {
  background-color: $play-cor-fundos-secundaria !important;
  color: $play-cor-texto !important;
}

.offcanvas.offcanvas-end {
  width: 100% !important;
}

// Page Indicator
ul.dots-list {
  list-style-type: none;
  font-weight: bold;
}

.dots-wrapper {
  position: fixed;
  display: none;
  left: 0;
  bottom: 0;
  opacity: .4;
  z-index: 2;
}

.dots-list {
  position: absolute;
  left: 0;
  bottom: 11px;
  margin-right: 35px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px $play-cor-secundaria;
  margin: 7px 0;
}

.dots-active {
  background-color: $play-cor-secundaria; 
  animation: bounce .5s 1;
  animation-direction: forwards;
}

// Slide in animation
.slide-in {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slide-in.active {
  opacity: 1;
  transform: translateY(0);
}

@keyframes bounce {
  0% {transform: translatex(5px)}
}

@keyframes rotate {
	0% { opacity: 0; }
	5% { opacity: 0; transform: translateY(25px); }
	10% { opacity: 1; transform: translateY(0px); }
	25% { opacity: 1; transform: translateY(0px); }
	30% { opacity: 0; transform: translateY(-25px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

// Media Queries
@include media-breakpoint-down(lg) {
  .rotate-wrapper {
    margin-right: 45%;
  }

  .nav-item {
    a, #lingua {
      color: $play-cor-texto !important;
    }
  }
}

@include media-breakpoint-up(md) {
  .feat-text {
    color: $play-cor-secundaria
  }

  .feats {
    background: rgba(216, 255, 219, 0.7) !important;
  }

  .first-title-bg {
    background: $play-cor-secundaria;
  }

  .feat-svg {
    color: $play-cor-secundaria;
  }

  .fc-first-title {
    color: $white;
  }
}

@include media-breakpoint-only(md) {
  ul.menu-li {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  
  .navbar {
    .container {
      position: relative;
    }

    .navbar-collapse {
      position: absolute;
      top: 100%;
      background: $white;
      height: 400vh;
    }
  }

  .home-subtext {
    font-size: 1rem;
  }

  .feats {
    p:nth-of-type(1) {
      font-size: x-large !important;
    }
    height: 20%;
  }

  .feat-wrapper {
    margin-bottom: auto !important;

    p {
      font-size: 1rem !important;
    }
  }
  
  .feat-lift {
    top: 6.5rem !important;
  }

  .feat-svg {
    font-size: 9rem !important;
  }

  .bg-about-text {
    p {
      font-size: .8rem !important;
    }
  }
}

@include media-breakpoint-up(xl) {
  .feats {
    height: 28%;

    p:nth-of-type(1) {
      font-size: xx-large !important;
    }
  }

  .feat-lift {
    top: 6.5rem !important
  }

  .bg-about-text {
    p {
      font-size: 1.1rem !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  .home-card {
    height: 100vh;
    // transition: all $transition;
  }

  .home-btn {
    float: right;
  }

  .marquee {
    span {
      font-size: 10vw;
    }
  }

  .rotate-wrapper span {
    height: 38%;
    width: 75%;
  }

  .rotate-wrapper {
    text-indent: 9px;
    margin-right: 30%;
  }

  .feat-svg {
    font-size: 4rem;
  }

  .feat-wrapper {
    margin-bottom: auto !important;
  }

  .feats {
    height: auto;
    font-size: initial;
  }

  .bg-about-text {
    background: rgba( 0, 0, 0, 0.1 ) !important;
  }
}

// @media screen and (orientation: landscape) {
//   .logo-play {
//     width: 45% !important;
//   }

//   .home-card {
//     padding-top: 0 !important;
//   }

//   componente-header {
//     position: static !important;
//   }
// }

#lingua {
  border: 1px solid $play-cor-primaria!important;
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%23015958' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");
}

.header-home {
  .nav-link, #lingua {
    color: $white;
  }
}

