@import "variables.scss";
@import "pure-variables.scss";

body {
    background-color: $gray-200 !important;
}

.custom-container {
    background: $white;
    box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.1);
}

  .inner-container {
    // background-color: $play-cor-fundos; 
    border-radius: 20px;
    color: $play-cor-texto;
}

.table > :not(caption) > * > * {
    background-color: transparent !important;
}

.custom-container2 {
    background: $play-cor-secundaria;
    color: $play-cor-fundos-secundaria;
}

.texto-verde-limao {
    color: $play-cor-fundos;
}

.img-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.config-match-btn {
    i {
        background-color: $black;
    }
}

.config-match-section-label {
    width: 50%;

    @include media-breakpoint-down(sm) {
        & {
            width: 100%;
        }
    }
}

.team-uniform-img {
    max-width: 15rem;
    max-height: 15rem;
}

.match-link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: $gray-500;

    transition: filter $transition;

    &:hover {
        filter: brightness(0.9) !important;
    }

    &:active {
        filter: brightness(0.8) !important;
    }
}

.match-details-wrapper {
    background-color: $gray-400;
}

.seta-botao, .seta-botao-rodada{
    background-color: $gray-500 !important;
    transition: box-shadow $transition, background-color $transition !important;

    &:hover {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        background-color: $gray-600 !important;
    }

    &:active {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        background-color: $gray-700 !important;
    }
}


.partida-rodada {
    border-radius: 10px;
    transition: background-color .3s;
}

.badge-ultima-partida {
    div {
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .vencedor, .perdedor, .neutro {
        cursor: pointer;
    }
}

.vencedor {
    background-color: $success;
}

.perdedor {
    background-color: $danger;
}

.neutro {
    background-color: $info;
}

.matches-round-data-wrapper {
    background-color: $gray-300;
}

.tabela-customizada-wrapper {
    background-color: $gray-300;
}

.tabela-customizada {
    border-color: $play-cor-secundaria!important;


    .cabecalho-customizado {
        border-bottom: 3px solid $play-cor-secundaria;
    }

    td,th {
        vertical-align: middle;
    }
}

.time-vencedor {
    border: 2px solid $success;
}
.time-perdedor {
    border: 2px solid $danger;
}

.coluna-fixa {
    position: sticky;
    left: 0;
    z-index: 2;
    background-color: $gray-300 !important;
}

.bg-gray-lvl-2 {
    background-color: $gray-300;
}

.bg-gray-lvl-3 {
    background-color: $gray-400;
}

.legenda-wrapper {
    background-color: $gray-300;
}

.legenda {
    color: $play-cor-texto;
}

.partida-rodada:hover {
    background-color: mix($play-cor-fundos-secundaria, $play-cor-primaria)!important;
    // transition: background-color 1s;
}

.eliminatorias-link {
    transition: color .1s;
}
.eliminatorias-link:hover {
    color: mix($play-cor-efeitos, $gray-400)!important;
}


@media (max-width: 715px) {
    .ida-volta{
        flex-direction: column;
    }

    .custom-container {
        // background: none;
        // padding: 0;
        // border-radius: 0;
        // box-shadow: none;
        // overflow: visible;
    }
    
    .inner-container {
        // margin: 0;
        background-color: transparent; 
        // padding: 10px;
        border-radius: 0;
        // position: static;
        width: auto;
        height: auto;
        // transform: scale(1.2);
        transform-origin: center center;
    }
    
    .custom-container2 {
        background: $play-cor-secundaria;
        border-radius: 20px;
        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
        color: $play-cor-fundos-secundaria;
        margin-top: 10px;
        padding: 10px;
        margin-left: auto;
        margin-right: auto; /* Adicione essa linha para centralizar horizontalmente */
        max-width: 80%; /* Limite a largura para evitar que o container fique muito largo */
    }

    .custom-container2 h4 {
        font-size: 14px;
    }
    .custom-container2 h3 {
        font-size: 14px;
    }

    .img-container {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .img-container p, .img-container img {
        margin: 5px 0;
        font-size: 12px;
    }

    .lista-jogadores {
        margin-top: 20px;
    }

    .custom-container2 .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .coluna-fixa {
        left: -17px;
        top: -6px;
    }
    .borda-top-lg {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .borda-bottom-lg {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

