// @import "bootstrap-config.scss";
@import "variables.scss";

// general/generic things
body {
    background-color: $gray-200 !important;
}

.m-team-name {
    font-size: larger;
}

.m-team-img-wrapper {
    max-width: 6rem;
    height: 6rem;
    min-width: 6rem;

    .m-team-img {
        min-width: 100%;
    }
}

@include media-breakpoint-up(md) {
    .m-truncated-text-width {
        width: 8rem;
    }
}

@include media-breakpoint-up(lg) {
    .m-truncated-text-width {
        width: 11rem;
    }
}

@include media-breakpoint-up(xl) {
    .m-truncated-text-width {
        width: 17rem;
    }
}


@include media-breakpoint-down(sm) {
    .m-team-name {
        font-size: 0.8rem;
    }

    .m-team-img-wrapper {
        max-width: 4rem;
        height: 4rem;
        min-width: 4rem;
    }
}

.blank-space {
    width: 1rem;
}


.m-player-img-wrapper {
    max-width: 4rem;
    height: 4rem;
    min-width: 4rem;

    .m-player-img {
        min-width: 100%;
    }
}

#vertical-line {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    height: 100%;
}

#score-board {
    #m-team2-name-wrapper {
        justify-content: flex-end;
    }

    @include media-breakpoint-down(lg) {
        #m-team1-name-wrapper,
        #m-team2-name-wrapper {
            justify-content: center;
        }
    }

    #score-wrapper {
        background-color: $white;
        box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.1);
    
        #aggregate-score-wrapper {
            margin-bottom: -0.6rem;

            @include media-breakpoint-down(sm) {
                & {
                    margin-bottom: -0.4rem;
                }
            }
    
            #aggregate-score {
                font-size: 1.2rem;
    
                @include media-breakpoint-down(sm) {
                    & {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    
        #match-score-wrapper {
            #match-score {
                font-size: 2.5rem;
    
                @include media-breakpoint-down(sm) {
                    & {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

#match-details-wrapper {
    #match-details {
        background-color: $white;
        box-shadow: 0px 0px 90px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4rem;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     width: 75rem;
        //     height: 15rem;

        //     background: rgb(255,255,255);
        //     background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);

        //     border-radius: 0 0 4rem 4rem;
        //     top: 45rem;
        //     left: 50%;
        //     transform: translateX(-50%);
        // }
    
        #match-details-options-wrapper {
            background-color: $white;
    
            #match-details-options {
                button {
                    transition: all $transition;
                    &.active {
                        background-color: $black;
                    }
        
                    &:not(.active) {
                        background-color: $play-cor-efeitos;
                        color: #000;
        
                        &:hover {
                            background-color: $play-cor-primaria;
                            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
                        }
                    }
                }

                @include media-breakpoint-down(sm) {
                    & {
                        button {
                            font-size: 0.8rem;
                            padding: 0.5rem 0.6rem;
                        }
                    }
                }
            }
        }

        @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
            .blurwall {
                background-color: rgb(255 255 255 / 2%);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);
                z-index: 1;
                border-radius: 4rem;
            }
        }

        /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
        @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            .blurwall {
                background-color: rgba(255, 255, 255, 0.5);
                z-index: 1;
                border-radius: 4rem;
            }
        }
    
        #match-details-content-wrapper {                
            #match-details-content {
                #match-details-content-events {
                    min-height: 39rem;
                    max-height: 39rem;
                    overflow-y: auto;

                    .match-details-content-event {
                        background-color: $gray-300;

                        .event-player-name {
                            span {
                                font-size: 1.1rem;
                            }

                            @include media-breakpoint-down(sm) {
                                span {
                                    font-size: 0.8rem;
                                }

                                & {
                                    padding: 0 !important;
                                }
                            }
                        }

                        .event-data {
                            @include media-breakpoint-down(sm) {
                                & {
                                    padding: 0 !important;
                                    justify-content: center;
                                }
                            }

                            .event-type, 
                            .event-time,
                            .event-desc {
                                span {
                                    font-size: 0.9rem;
                                }

                                @include media-breakpoint-down(sm) {
                                    span {
                                        font-size: 0.7rem;
                                    }
                                }
                            }
                        }

                        .event-illustration {
                            justify-content: end;

                            @include media-breakpoint-down(sm) {
                                & {
                                    padding: 0 !important;
                                    justify-content: center;
                                }
                            }
                        
                        }
                    }
                }

                #match-details-content-players {
                    min-height: 39rem;
                    max-height: 39rem;
                    overflow-y: auto;

                    #match-details-content-players-team2 {
                        .match-details-content-player {
                            justify-content: flex-end;
                        }
                    }

                    #match-details-content-players-team1 {
                        .match-details-content-player {
                            justify-content: flex-start;
                        }
                    }

                    .match-details-content-player {
                        background-color: $gray-300;

                        @include media-breakpoint-down(sm) {
                            justify-content: center;
                        }

                        .m-player-info {
                            @include media-breakpoint-down(sm) {
                                .m-player-name {
                                    font-size: 0.8rem;
                                }

                                .m-player-position {
                                    font-size: 0.8rem;
                                }

                                .m-player-number {
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                }

                #match-details-content-admin {
                    #event-admin-label {
                        width: 50%;

                        @include media-breakpoint-down(sm) {
                            & {
                                width: 100%;
                            }
                        }
                    }
                    #extra-admin-label {
                        width: 50%;

                        @include media-breakpoint-down(sm) {
                            & {
                                width: 100%;
                            }
                        }
                    }
                    #match-management-form-type {
                        width: 50%;

                        @include media-breakpoint-down(sm) {
                            & {
                                width: 100%;
                            }
                        }
                    }
                    #match-management-form {
                        width: 50%;

                        @include media-breakpoint-down(sm) {
                            & {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}